.MenuLeft{
    display: flex;
    flex-direction: column;
    height: min(89.5vh,89.5vw);
    width: min(34.3vh,34.3vw);
    background-color: #e6efff;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
}

.MenuLeft button{
    border: none;
    background-color: transparent;
    padding: min(1.5vh,1.5vw);
    margin-bottom: min(1.25vh,1.25vw);
    display: flex;
    gap: min(6vh,6vw);
    transition: background-color 0.2s ease, box-shadow 0.3s ease;
    margin-top: min(-0.3vh,-0.3vw);
}

.MenuLeft span{
    color: red;
}

.MenuLeft button a{
    font-size: min(2.27vh,2.27vw);
    text-decoration: none;
    color: black;
    padding-left: min( 1vh,  1vw);
    padding-right: min( 1vh,  1vw);
    padding-top: min( 2vh,  2vw);
    padding-bottom: min( 1.7vh,  1.7vw); 
    font-family: "poppins";
    margin-left: min(0.8vh,0.8vw);
    border-radius: min(0.75vh,0.75vw);
    text-align: center;
}

.MenuLeft button a:hover{
    background-color: #d3e3ff;
    box-shadow: 2px 2px 5px #ffffff;
}
