<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicioSesion_Registro.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap" rel="stylesheet">
    <title>Registrarse</title>
</head>

<body>

    <div class="all_container">

        <div class="left-side">

            <img class="logo" src="img/logoOficialLetrasNegras.png" alt="">
            <h1>¿No tienes una cuenta?</h1>
            <p class="leftP">¡Bienvenido! Regístrate con:</p>


            <form class="formRegistro" action="" id="form" class="login-form" name="registro">

                <div class="form-group">
                    <img class="userIMG" src="img/user.png" alt="">
                    <input class="inputText" type="text" id="usuario" name="usuario" placeholder="Usuario">
                    <p class="form-message-error">Por favor ingresá un correo válido</p>
                </div>

                <div class="form-group">
                    <img class="userIMG" src="img/identification.png" alt="">
                    <input class="inputText" type="text" id="Identification" name="Identification" placeholder="Identificacion">
                    <p class="form-message-error">Por favor ingresá un correo válido</p>
                </div>

                <div class="form-group">
                    <img class="userIMG" src="img/user.png" alt="">
                    <input class="inputText" type="text" id="nombre" name="nombre" placeholder="Nombre completo">
                    <p class="form-message-error">Por favor ingresá un correo válido</p>
                </div>

                <div class="form-group">
                    <img class="userIMG" src="img/telephone.png" alt="">
                    <input class="inputText" type="number" id="telefono" name="telefono" placeholder="Telefono">
                    <p class="form-message-error">Por favor ingresá un correo válido</p>
                </div>

                <div class="form-group">
                    <img class="emailIMG" src="img/email.png" alt="">
                    <input class="inputEmail" type="email" id="email" name="email" placeholder="Email">
                    <p class="form-message-error">Mayúsculas, minúsculas, números, guión bajo y guion. Rango caracteres 4 a 16</p>
                </div>

                <div class="form-group">
                    <img class="lockIMG" src="img/locked.png" alt="">
                    <input class="inputPass" type="password" placeholder="Contraseña" id="password" name="password">
                    <button type="button" class="passViewButton" onclick="togglePassword(this)">
                        <img class="passViewButtonIMG" src="img/passwordview.png" alt="">
                    </button>
                    <p class="form-message-error"></p>
                </div>

                <div class="form-group">
                    <img class="lockIMG" src="img/locked.png" alt="">
                    <input class="inputPass" type="password" placeholder="Confirmar contraseña" id="confirmPassword" name="confirmPassword">
                    <button type="button" class="passViewButton" onclick="togglePassword(this)">
                        <img class="passViewButtonIMG" src="img/passwordview.png" alt="">
                    </button>
                    <p class="form-message-error"></p>
                </div>

                <button class="submit" type="submit">Sign In</button>
            </form>

            <div class="textBelowSpaceX"></div>

            <div class="text-below">
                <p>¿Ya tienes una cuenta?</p> <a href="/inicioSesion">Inicia Sesión</a>
            </div>

        </div>

        <div class="right-side">
            <img class="RightIMG" src="img/PCSocial.png" alt="">
            <div class="Circle1"></div>
            <div class="Circle2"></div>
            <p>¡Conéctate con toda la comunidad!</p>
        </div>

    </div>

    <script src="js/formulario_script.js"></script>

    <script>
    const formLogin = document.querySelector('form[name="registro"]');

    formLogin.addEventListener('submit', function (e) {
        e.preventDefault(); // Siempre prevenir comportamiento por defecto

        if (formLogin.checkValidity()) {
            // Si es válido, redirige
            window.location.href = '/';
        } else {
            // Si no es válido, que el navegador muestre los errores
            formLogin.reportValidity();
        }
    });

    function togglePassword(button) {
        const input = button.parentElement.querySelector('input[type="password"], input[type="text"]');
        input.type = input.type === 'password' ? 'text' : 'password';
    }
</script>


</body>
</html>
