<body>

    <input type="checkbox" id="check" style="display: none;">
        <div>
            <label for="check" class="checkbtn">
                <i class='bx bx-menu'></i>
            </label>
        </div>
     <label for="check" class="overlay"></label>

    <div class="page-layout-container">
        <aside class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-element"> 
                    <div class="sidebar-icon">
                        <i class='bx  bx-home' ></i> 
                    </div>
                    <div class="sidebar-text">
                        <p><a href="/panelAdmin">Panel Principal</a></p>
                    </div>
                </li>
                <li class="sidebar-element"> 
                    <div class="sidebar-icon">
                        <i class='bx  bx-mountain-view'></i>
                    </div>
                    <div class="sidebar-text">
                        <p><a href="/publicacionesAdmin">Publicaciones</a></p>
                    </div>
                </li>
                <li class="sidebar-element">
                    <div class="sidebar-icon">
                        <i class='bx  bx-megaphone-alt'></i>
                    </div>
                    <div class="sidebar-text">
                        <p><a href="/ReportesAdmin">Reportes</a></p>
                    </div>
                </li>
                <li class="sidebar-element">
                    <div class="sidebar-icon">
                        <i class='bx  bx-store'></a></i>
                    </div>
                    <div class="sidebar-text">
                        <p><a href="/EmprendimientosAdmin">Emprendimientos</a></p>
                    </div>
                </li>
                <li class="sidebar-element"> 
                    <div class="sidebar-icon">
                        <i class='bx  bx-price-tag'></i>
                    </div>
                    <div class="sidebar-text">
                        <p><a href="/OfertasAdmin">Ofertas</a></p>
                    </div>
                </li>
                <li class="sidebar-element"> 
                    <div class="sidebar-icon">
                        <i class='bx  bx-bus'></i>
                    </div>
                    <div class="sidebar-text">
                        <p><a href="/transporteadmin">Transporte</a></p>
                    </div>
                </li>
                <li class="sidebar-element"> 
                    <div class="sidebar-icon">
                        <i class='bx  bx-arrow-right-stroke-square'></i>
                    </div>
                    <div class="sidebar-text">
                        <p><a href="/">Salir del Sistema</a></p>
                    </div>
                </li>
            </ul>
        </aside>
</body>