<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/ofertas.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Ofertas</title>
</head>

<body>
  <header>
    <div class="navbar">
      <div><img class="logo" src="img/logooficial.png" alt="logo"></div>
      <div class="mobile-nav">
        <input type="checkbox" id="responsive-menu" class="responsive-menu">
        <label for="responsive-menu" class="hamburger">
          <i class='bx bx-menu'></i>
        </label>
        <div class="menu-content">
          <nav>
            <div class="menu-item">
              <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/publicaciones">Publicaciones</a></li>
                <li><a href="/transporte">Transporte</a></li>
                <li><a href="/ofertas">Oferta</a></li>
                <li><a href="/RegistroEmprendimiento">Emprendimientos</a></li>
                <li><a href="/panelAdmin">Administración</a></li>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/envioReportes">Reportes</a></li>
                <li class="search-container">
                  <form action="search">
                    <input type="text" name="query" placeholder="buscar">
                    <span class="icon"><i class='bxr  bx-search'></i></span>
                  </form>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>

    <section class="page-title">
      <h1>Ofertas</h1>
      <h5>Encuentra los mejores productos a los mejores precios</h5>
    </section>



    <section class="ofertas">
      <div class="ofertas-links">
        <div class="ofertas-card">
          <a href="oferta1.html">
            <div class="img-wrapper">
              <img>
            </div>
            <div class="card-content">
              <h5>Pizza Gourmet</h5>
              <p>$15</p>
            </div>
          </a>
        </div>
        <div class="ofertas-card">
          <a href="oferta2.html">
            <div class="img-wrapper">
              <img>
            </div>
            <div class="card-content">
              <h5>Limpieza a domicilio</h5>
              <p>$50</p>
            </div>
          </a>
        </div>
        <div class="ofertas-card">
          <a href="oferta3.html">
            <div class="img-wrapper">
              <img>
            </div>
            <div class="card-content">
              <h5>Curso de programación</h5>
              <p>$100</p>
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>

  <footer class="site-footer">
    <div class="footer-container">
      <ul class="footer-links">
        <li>
          <a href="mailto:comunidadconectada@gmail.com" class="contact">Contacto: comunidadconectada@gmail.com</a>
        </li>
        <li>
          <ul class="submenu">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>